<a href="https://maps.google.com/maps?q=<perch:content id="loc_name"/>,%20<perch:content id="loc_address"/>" target="_blank" title="See Google map">
	<div class="location">			
		<h3><perch:content id="loc_name" type="text" label="Establishment Name" required="true" help="Avoid use of special characters (e.g. &, #, %, etc.)" title="true" order="1"/></h3>
		<p><perch:content id="loc_address" type="text" label="Address" required="true" help="e.g. 123 Main St, City, ST Zip" order="2"/></p>
	</div>
</a>